/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 992px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mobile-btn {
    display: block;
  }
  .title {
    font-size: 0.9rem;
  }
  .navbar ul {
    display: none;
    text-align: left;
  }
  .show-section {
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  .show-banner {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-position: center;
    background-color: springgreen;
    color: white;
  }
  .show-banner-content {
    padding: 20px;
    width: 1600px;
  }
  .show-banner-content h1 {
    font-size: 1.9rem;
    padding: 5px;
  }
  .show-banner-content ul {
    display: none;
  }
  .show-banner-content p {
    font-size: 1.1rem;
    padding: 5px;
    text-align: justify;
  }
  .campeonatos {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mobile-btn {
    display: block;
  }
  .title {
    font-size: 0.9rem;
  }
  .navbar ul {
    display: none;
    text-align: left;
  }
  .show-section {
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }
  .show-banner {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: 300%;
    background-position: center;
    background-color: springgreen;
    color: white;
  }
  .show-banner-content {
    padding: 20px;
    width: 1600px;
  }
  .show-banner-content h1 {
    font-size: 1.9rem;
    padding: 5px;
  }
  .show-banner-content ul {
    display: none;
  }
  .show-banner-content p {
    font-size: 1.1rem;
    padding: 5px;
    text-align: justify;
  }
  .campeonatos {
    display: none;
  }
  .news-list {
    width: 100%;
  }
  .news-list-area {
    width: 100%;
  }
  .news-list-item {
    width: 100%;
  }
  .news {
    padding: 0;
    width: 100%;
    height: 600px;
    margin: 10;
  }
  .news img {
    width: 100%;
    height: 200px;
  }
  .vantagens-membros {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .vatagens-area {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .vatagens-area>div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 500px;
    padding: 0px;
  }
  .vantagem img {
    width: 100%;
  }
  #vantagens-a {
    padding: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  #camps-area-a {
    width: 100%;
    padding: 0;
  }
  #camps-area-a img {
    width: 100%;
  }
  #camps-area-a>div {
    background-color: rgba(84, 83, 83, 0.104);
    margin: 20px;
    padding: 15px;
    width: 100%;
    height: auto
  }
  #news-esports {
    padding: 20px;
    background-size: 200%;
    background-repeat: no-repeat;
  }
  #sobre {
    background-image: url("../img/sobre.png");
    background-position: center;
    background-size: 300%;
    background-repeat: no-repeat;
  }
  #mobile-btn {
    text-align: center;
  }
  @media screen and (max-width: 320px) {
    .show-banner {
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
    #sobre {
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
    }
    .news {
      height: auto;
    }
    .news img {
      width: 100%;
      height: auto;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}